
<div>

    <a href="/"><button class="btn">Find other Users </button></a>
     <a href="/{{User._id}}/edit"><button class="btn">Edit profile </button></a>
    <h1>{{User.name}}</h1>
    <p>{{User.typeOfPlayer}}</p>
    <img src='{{{User.profilePic}}}' alt="{{User.name}}"> <br>
    <a href="/{{User._id}}/characters"><button class="btn">View created characters</button></a> <br>
    {{#each User.characters}}
<h1>{{name}}</h1>
    {{/each}}

    <form action="/{{User._id}}?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete My Handsome Face, If You Dare</button>
    </form>
</div>