
<div>
    {{!-- <a href="/{{User._id}}/edit"><button class="btn">Edit</button></a> --}}

    <a href="/"><button class="btn">Find other Users </button></a>
    <h1>{{Character.name}}</h1>
    <p>{{Character.gender}}</p>
    <img src='{{{Character.img}}}' alt="{{Character.name}}">

    {{!-- <form action="/{{User._id}}?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete</button>
    </form> --}}
</div>